* {
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  transition: all 0.3s;
  margin: 0;
  padding: 0;
}

header nav {
  padding: 0 100px;
  width: 100%;
  height: 92px;
  background: rgba(229, 229, 229, 0.8);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

header nav .header_logo {
  margin-top: 36px;
  margin-right: 60px;
}

header nav .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin-top: 33px;
  margin-right: 100px;
  padding: 0;
}

header nav .menu li {
  list-style: none;
}

header nav .menu li a {
  font-weight: 700;
  font-size: 15px;
  color: hsl(228, 10%, 29%);
  text-decoration: none;
}

header nav .menu li a:hover {
  color: #ff5a30;
}

header nav .submenu {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-top: 22px;
}

header nav .submenu_block {
  display: flex;
  justify-content: space-between;
}

header nav .submenu_img {
  margin-right: 15px;
}

header nav .submenu_textblock_title {
  font-weight: 570px;
  font-size: 14px;
  color: hsl(228, 10%, 29%);
}

.subheader {
  display: flex;
  justify-content: flex-start;
  padding-top: 240px;
  background: url("../img/header_bg.jpg") center center/cover no-repeat;
  height: 750px;
}

.subheader_block {
  width: 577px;
}

.subheader_title {
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  margin-bottom: 24px;
}

.subheader_title span {
  color: #FF5A30;
}

.subheader_descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: rgb(255, 255, 255);
  margin-bottom: 61px;
}

.subheader_buttons {
  width: 526px;
  display: flex;
  justify-content: space-between;
}

.subheader_buttons_white {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  width: 260px;
  height: 52px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0);
}

.subheader_buttons_white:hover {
  background-color: hsla(0, 0%, 100%, 0.6);
  color: #fff;
  border: 2px solid rgb(255, 255, 255);
}

.subheader_buttons_orange {
  width: 224px;
  height: 52px;
  background: #FF5A30;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
}

.subheader_buttons_orange:hover {
  background-color: hsl(12, 96%, 52%);
  border: none;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  margin-bottom: 24px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 60px;
}

.values {
  padding: 120px 0 70px;
}

.values_gblock {
  display: flex;
  justify-content: space-between;
}

.values_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 285px;
  border: 2px solid rgba(218, 219, 221, 0.5);
  border-radius: 5px;
  padding: 20px;
}

.values_icon {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}

.values_title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}

.values_descr {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.services {
  min-height: 730px;
  padding: 50px 0 0;
  background: url("../img/bg-image.png") center center/cover no-repeat;
}

.services_block {
  display: flex;
  justify-content: space-between;
}

.services_square {
  width: 285px;
  height: 285px;
  background-color: #fff;
  border: 1px solid rgba(204, 204, 204, 0.3);
  border-radius: 5px;
  box-shadow: 8px 8px 15px hsla(0, 0%, 80%, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services_square:hover {
  box-shadow: none;
}

.services_ico {
  margin-bottom: 25px;
}

.services_descr {
  font-weight: 700;
  font-size: 20px;
}

.services_learn {
  display: flex;
  justify-content: center;
  margin: 85px 0;
}

.services_learn_title {
  font-weight: 700;
  font-size: 28px;
  margin-right: 40px;
}

.partners {
  background-color: #F4F5F6;
  height: 350px;
  padding-top: 80px;
}

.partners_block {
  display: flex;
  justify-content: space-between;
}

.our {
  background-color: hsl(210, 10%, 96%);
  height: 500px;
  padding-bottom: 120px;
  padding-top: 30px;
}

.our .container {
  position: relative;
}

.our .title {
  margin-bottom: 60px;
  text-align: left;
}

.our_descr {
  margin: 24px 0;
  width: 600px;
  color: #424551;
}

.our_title {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
}

.our_subtitle {
  font-size: 14px;
  color: hsl(225, 3%, 49%);
}

.our_infoimg {
  position: absolute;
  right: 0;
  top: -20px;
}

.figures {
  padding: 140px 0 80px;
  height: 520px;
}

.figures_block {
  width: 740px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.figures_subtitle {
  margin-top: 20px;
  color: rgb(30, 33, 44);
  font-size: 14px;
  text-align: center;
}

.details {
  height: 826px;
  background: url("../img/footer_bg.jpg") center center/cover no-repeat;
  padding: 80px 0;
}

.details .container {
  position: relative;
}

.details_quick {
  position: absolute;
  right: 0;
  width: 495px;
  height: 685px;
  background-color: #fff;
  padding: 48px 40px;
}

.details_title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  color: #1E212C;
  margin-bottom: 24px;
}

.details_form {
  display: flex;
  flex-direction: column;
}

.details_form label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}

.details_form input {
  margin-bottom: 20px;
  width: 415px;
  height: 44px;
  background: #F4F5F7;
  border: 1px solid hsl(210, 8%, 85%);
  border-radius: 4px;
  padding-left: 16px;
}

.details_form .checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: 0;
}

.details_form textarea {
  display: block;
  width: 415px;
  height: 66px;
  resize: none;
  padding-left: 16px;
  padding-top: 11px;
  background: #F4F5F7;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  margin-bottom: 23px;
}

.details_form .label_checkbox {
  width: 350px;
  font-size: 14px;
}

.details_form .details_orange {
  width: 174px;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  background: #FF5A30;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  border: none;
}

.details_form .details_orange:hover {
  background-color: #fa3f10;
  border: none;
  color: #fff;
}

.footer {
  height: 470px;
  padding: 80px 0 40px;
  background: #1E212C;
}

.footer_block_1 {
  display: flex;
  justify-content: space-between;
}

.footer_minblock_1 {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_logo {
  display: block;
  margin-right: 62px;
  width: 142px;
  height: 24px;
}

.footer_ico_block img {
  margin-right: 15px;
}

.footer_ico_block img:last-child {
  margin-right: 0;
}

.footer_descr_1 {
  width: 493px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin-top: 20px;
}

.footer_title {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer_minblock_2 {
  width: 495px;
}

.footer_minblock_2 form {
  display: flex;
}

.footer_minblock_2 form input {
  width: 364px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  height: 44px;
  padding-left: 16px;
}

.footer_orange {
  width: 131px;
  height: 44px;
  background: #FF5A30;
  border-radius: 0px 4px 4px 0px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.footer_orange:hover {
  background-color: #fa3f10;
  border: none;
  color: #fff;
}

.footer_descr_2 {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 16px;
}

.footer_block_2 {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
}

.footer_head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_head_descr {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer_head_descr span {
  color: #fff;
}

.footer_b2title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 13px;
}

.footer .on {
  margin-left: 30px;
}

.footer_who ul {
  list-style: none;
}

.footer_who ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer_who ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

@media (max-width:1200px) {
	header nav .header_logo {
		margin-top: 40px;
		margin-right: 12px;
	}
	header nav{
		padding: 0 50px 10px;
		height: 100px;
	}
	.submenu_textblock_subtitle{
		display:none;
	}
	header nav .menu li a {
		font-size: 16px;
	}
	header nav .submenu_textblock_title {
		display: none;
	}
	header nav .menu{
		margin: 35px 0px 10px;
	}
	header nav .submenu {
		width:150px;
	}
	.subheader_bigtitle{
		width: 400px;
	}
	.submenu_img{
		width: 50px;
	}
	.footer{
		padding: 30px 40px 40px;
	  }
	  .footer_block_1 {
	  width: 880px;
	  }
	  .footer_minblock_1 {
	  width: 400px;
	  }
	  .footer_minblock_2 {
	  width: 400px;
	  }
	  .footer_ico_block{
	  padding-top: 20px;
	  }
	  .footer_who ul li a {
	  font-size:15px;
	  }
	  .footer_b2title {
	  font-size: 14px;
	  }
	  .details {
	  padding-top: 50px;
	  }
	  .details_quick{
	  width: 100%;
	  max-width: 420px;
	  }
	  .details_title{
	  font-size:20px;
	  }
	  .details_form input{
	  width: 340px;
	  }
	  .details_form textarea{
	  width: 340px;
	  }
	  .details_form input::placeholder{
	  font-size: 16px;
	  }
	  .details_form textarea::placeholder{
	  font-size: 16px;
	  }
	.services_square{
		width: 230px;
		height: 230px;
	}
	.our_infoimg{
		width: 345px;
		height: 430px;
	}
}
@media (max-width: 991px){
	header nav .header_logo {
		margin-top: 30px;
	}
	header nav{
		padding: 0 50px 10px;
		height: 80px;
	}
	.header_logo{
		display: none;
	}
	.submenu_img{
		display: none;
	}
	header nav .submenu{
		display: none;
	}
	.footer{
		height: 440px;
		padding: 15px 20px 0px;
	}
	.footer_block_1 {
		width: 700px;
	}
	.footer_block_2 {
		margin-top: 15px;
	}
	.footer_minblock_1 {
		width: 330px;
	}
	.footer_minblock_2 {
		width: 330px;
	}
	.footer_minblock_2 form input {
		width: 220px;
	}
	.footer_who ul li a {
		font-size:15px;
	}
	.footer_b2title {
		font-size: 14px;
	}
	.details {
		height: 720px;
		padding-top: 5px;
	}
	.details_quick{
		width: 100%;
		max-width: 350px;
		padding: 25px 30px;
		right: 5%;
	}
	.details_title{
		font-size:20px;
	}
	.details_form input{
		width: 270px;
	}
	.details_form textarea{
		width: 270px;
	}
	.details_form input::placeholder{
		font-size: 16px;
	}
	.details_form textarea::placeholder{
		font-size: 16px;
	}
	.figures_block{
		width: 700px;
	}
	.our_infoimg{
		display: none;
	}
	.values_block{
		width: 220px;
	}
	.services_square{
		width: 170px;
		height: 220px;
	}
	.services_descr{
		font-size: 17px;
	}
}